In [5]:
import pandas as pd
import sqlite3

In [6]:
housing_data =pd.read_csv("./melbourne.csv")
print(housing_data)
#compare with https://www.visualcrossing.com/weather-history/Melbourne,Australia/metric

              ID                      Date_Time  Year     Month  Mdate  \
0        2887628  November 01, 2019 05:00:00 PM  2019  November      1
1        2887629  November 01, 2019 05:00:00 PM  2019  November      1
2        2887630  November 01, 2019 05:00:00 PM  2019  November      1
3        2887631  November 01, 2019 05:00:00 PM  2019  November      1
4        2887632  November 01, 2019 05:00:00 PM  2019  November      1
...          ...                            ...   ...       ...    ...
4562225  4567697   October 31, 2022 07:00:00 PM  2022   October     31
4562226  4567698   October 31, 2022 08:00:00 PM  2022   October     31
4562227  4567699   October 31, 2022 09:00:00 PM  2022   October     31
4562228  4567700   October 31, 2022 10:00:00 PM  2022   October     31
4562229  4567701   October 31, 2022 11:00:00 PM  2022   October     31

            Day  Time  Sensor_ID                   Sensor_Name  Hourly_Counts
0        Friday    17         34          Flinders St-Spark La            300
1        Friday    17         39                  Alfred Place            604
2        Friday    17         37               Lygon St (East)            216
3        Friday    17         40  Lonsdale St-Spring St (West)            627
4        Friday    17         36               Queen St (West)            774
...         ...   ...        ...                           ...            ...
4562225  Monday    19         87               Errol St (West)            185
4562226  Monday    20         87               Errol St (West)            108
4562227  Monday    21         87               Errol St (West)             58
4562228  Monday    22         87               Errol St (West)             18
4562229  Monday    23         87               Errol St (West)             27

[4562230 rows x 10 columns]

In [7]:
connection = sqlite3.connect('data.db')
data = pd.read_sql('SELECT * FROM data ORDER BY timestamp', connection)
data

,location_name,pedestrians_count,temperature,timestamp,weather_condition,unverified,location_id
0,Schönbornstraße,1346,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,135.0
1,Spiegelstraße,388,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,470.0
2,Kaiserstraße,1197,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,476.0
3,Schönbornstraße,772,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,135.0
4,Spiegelstraße,161,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,470.0
...,...,...,...,...,...,...,...
11111,Spiegelstraße,6,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,470.0
11112,Kaiserstraße,12,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,476.0
11113,Schönbornstraße,9,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,135.0
11114,Spiegelstraße,4,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,470.0
11115,Kaiserstraße,10,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,476.0