In [1]:
import pandas as pd
import sqlite3

In [2]:
connection = sqlite3.connect('data.db')
data = pd.read_sql('SELECT * FROM data ORDER BY timestamp', connection)
data

,location_name,pedestrians_count,temperature,timestamp,weather_condition,unverified,location_id
0,Schönbornstraße,1346,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,135.0
1,Spiegelstraße,388,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,470.0
2,Kaiserstraße,1197,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,476.0
3,Schönbornstraße,772,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,135.0
4,Spiegelstraße,161,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,470.0
...,...,...,...,...,...,...,...
11111,Spiegelstraße,6,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,470.0
11112,Kaiserstraße,12,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,476.0
11113,Schönbornstraße,9,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,135.0
11114,Spiegelstraße,4,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,470.0
11115,Kaiserstraße,10,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,476.0