In [1]:
import pandas as pd
import sqlite3

In [2]:
housing_data =pd.read_csv("./melbourne.csv")
sensor = housing_data['Sensor_Name']
print(housing_data)
print(sensor)

#compare with https://www.visualcrossing.com/weather-history/Melbourne,Australia/metric
#compare australia day January 26th 2022(super warm and national holiday) to January 7th 2022 (extreme weather conditions)

              ID                      Date_Time  Year     Month  Mdate  \
0        2887628  November 01, 2019 05:00:00 PM  2019  November      1
1        2887629  November 01, 2019 05:00:00 PM  2019  November      1
2        2887630  November 01, 2019 05:00:00 PM  2019  November      1
3        2887631  November 01, 2019 05:00:00 PM  2019  November      1
4        2887632  November 01, 2019 05:00:00 PM  2019  November      1
...          ...                            ...   ...       ...    ...
4562225  4567697   October 31, 2022 07:00:00 PM  2022   October     31
4562226  4567698   October 31, 2022 08:00:00 PM  2022   October     31
4562227  4567699   October 31, 2022 09:00:00 PM  2022   October     31
4562228  4567700   October 31, 2022 10:00:00 PM  2022   October     31
4562229  4567701   October 31, 2022 11:00:00 PM  2022   October     31

            Day  Time  Sensor_ID                   Sensor_Name  Hourly_Counts
0        Friday    17         34          Flinders St-Spark La            300
1        Friday    17         39                  Alfred Place            604
2        Friday    17         37               Lygon St (East)            216
3        Friday    17         40  Lonsdale St-Spring St (West)            627
4        Friday    17         36               Queen St (West)            774
...         ...   ...        ...                           ...            ...
4562225  Monday    19         87               Errol St (West)            185
4562226  Monday    20         87               Errol St (West)            108
4562227  Monday    21         87               Errol St (West)             58
4562228  Monday    22         87               Errol St (West)             18
4562229  Monday    23         87               Errol St (West)             27

[4562230 rows x 10 columns]
0                  Flinders St-Spark La
1                          Alfred Place
2                       Lygon St (East)
3          Lonsdale St-Spring St (West)
4                       Queen St (West)
                       ...
4562225                 Errol St (West)
4562226                 Errol St (West)
4562227                 Errol St (West)
4562228                 Errol St (West)
4562229                 Errol St (West)
Name: Sensor_Name, Length: 4562230, dtype: object

In [3]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
sensor = housing_data['Sensor_Name'].value_counts()

print(sensor)

Sensor_Name
Bourke Street Mall (South)                  118123
Southern Cross Station                      118097
Flinders Street Station Underpass           117929
Victoria Point                              117801
Waterfront City                             116844
                                             ...
Bourke St - Spencer St (South)                3648
Errol St (West)                               2952
Flinders La - Swanston St (West) Temp         1379
Flinders la - Swanston St (West) Temp          912
Harbour Esplanade (West) - Pedestrian Pa       744
Name: count, Length: 94, dtype: int64

In [4]:
housing_data=housing_data.rename(columns={"Sensor_Name":"location_name"})
#housing_data=housing_data.drop(columns=['Mdate'])

print(housing_data)

              ID                      Date_Time  Year     Month  Mdate  \
0        2887628  November 01, 2019 05:00:00 PM  2019  November      1
1        2887629  November 01, 2019 05:00:00 PM  2019  November      1
2        2887630  November 01, 2019 05:00:00 PM  2019  November      1
3        2887631  November 01, 2019 05:00:00 PM  2019  November      1
4        2887632  November 01, 2019 05:00:00 PM  2019  November      1
...          ...                            ...   ...       ...    ...
4562225  4567697   October 31, 2022 07:00:00 PM  2022   October     31
4562226  4567698   October 31, 2022 08:00:00 PM  2022   October     31
4562227  4567699   October 31, 2022 09:00:00 PM  2022   October     31
4562228  4567700   October 31, 2022 10:00:00 PM  2022   October     31
4562229  4567701   October 31, 2022 11:00:00 PM  2022   October     31

            Day  Time  Sensor_ID                 location_name  Hourly_Counts
0        Friday    17         34          Flinders St-Spark La            300
1        Friday    17         39                  Alfred Place            604
2        Friday    17         37               Lygon St (East)            216
3        Friday    17         40  Lonsdale St-Spring St (West)            627
4        Friday    17         36               Queen St (West)            774
...         ...   ...        ...                           ...            ...
4562225  Monday    19         87               Errol St (West)            185
4562226  Monday    20         87               Errol St (West)            108
4562227  Monday    21         87               Errol St (West)             58
4562228  Monday    22         87               Errol St (West)             18
4562229  Monday    23         87               Errol St (West)             27

[4562230 rows x 10 columns]

In [5]:
weather_data=pd.read_csv('wuerzburg.csv')
weather_data.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,würzburg,2024-01-01T00:00:00,4.8,2.3,2.9,87.50,0.0,0,NaN,0.0,...,1008.0,71.8,NaN,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,remote
1,würzburg,2024-01-01T01:00:00,4.9,1.8,1.9,80.73,0.0,0,NaN,0.0,...,1009.0,72.5,23.0,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"00191,05705,C0060,06336,02600"
2,würzburg,2024-01-01T02:00:00,6.2,1.9,2.1,75.01,0.0,0,NaN,0.0,...,1008.4,76.7,45.0,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"00191,05705,C0060,06336,02600"
3,würzburg,2024-01-01T03:00:00,6.2,1.9,2.2,75.55,0.0,0,NaN,0.0,...,1008.9,79.7,44.0,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"00191,05705,C0060,06336,02600"
4,würzburg,2024-01-01T04:00:00,5.7,1.5,2.4,79.25,0.0,0,NaN,0.0,...,1008.7,95.8,36.0,0,0.0,0,NaN,Overcast,cloudy,"00191,05705,C0060,06336,02600"

In [7]:
connection = sqlite3.connect('data.db')
data = pd.read_sql('SELECT * FROM data ORDER BY timestamp', connection)
data

,location_name,pedestrians_count,temperature,timestamp,weather_condition,unverified,location_id
0,Schönbornstraße,1346,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,135.0
1,Spiegelstraße,388,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,470.0
2,Kaiserstraße,1197,5.0,2024-01-01T00:00:00+01:00,partly-cloudy-night,0.0,476.0
3,Schönbornstraße,772,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,135.0
4,Spiegelstraße,161,5.0,2024-01-01T01:00:00+01:00,partly-cloudy-night,0.0,470.0
...,...,...,...,...,...,...,...
11111,Spiegelstraße,6,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,470.0
11112,Kaiserstraße,12,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,476.0
11113,Schönbornstraße,9,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,135.0
11114,Spiegelstraße,4,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,470.0
11115,Kaiserstraße,10,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,476.0

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,shuffle=False)